<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Temas</h4>
                <hr>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li>
                            <a #link1 (click)="changeTheme('default', link1)" data-theme="default" class="selector default-theme"></a>
                        </li>
                        <li>
                            <a #link2 (click)="changeTheme('green', link2)" data-theme="green" class="selector green-theme"></a>
                        </li>
                        <li>
                            <a #link3 (click)="changeTheme('red', link3)" data-theme="red" class="selector red-theme"></a>
                        </li>
                        <li>
                            <a #link4 (click)="changeTheme('blue', link4)" data-theme="blue" class="selector blue-theme"></a>
                        </li>
                        <li>
                            <a #link5 (click)="changeTheme('purple', link5)" data-theme="purple" class="selector purple-theme"></a>
                        </li>
                        <li>
                            <a #link6 (click)="changeTheme('megna', link6)" data-theme="megna" class="selector megna-theme"></a>
                        </li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li>
                            <a #link7 (click)="changeTheme('default-dark', link7)" data-theme="default-dark" class="selector default-dark-theme"></a>
                        </li>
                        <li>
                            <a #link8 (click)="changeTheme('green-dark', link8)" data-theme="green-dark" class="selector green-dark-theme"></a>
                        </li>
                        <li>
                            <a #link9 (click)="changeTheme('red-dark', link9)" data-theme="red-dark" class="selector red-dark-theme"></a>
                        </li>
                        <li>
                            <a #link10 (click)="changeTheme('blue-dark', link10)" data-theme="blue-dark" class="selector blue-dark-theme"></a>
                        </li>
                        <li>
                            <a #link11 (click)="changeTheme('purple-dark', link11)" data-theme="purple-dark" class="selector purple-dark-theme"></a>
                        </li>
                        <li>
                            <a #link12 (click)="changeTheme('megna-dark', link12)" data-theme="megna-dark" class="selector megna-dark-theme"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>